.ProfilePicture{
    height: 80px;
    width: 75px;
}

.Count{
    text-align: left;
}
.pagination {
    
  }
.pagination__link{
    border: 1px solid #ddd;  
    padding: 6px 12px;
}
.pagination{
    margin-top: 5px;
}
.pagination__link{
    border: 1px solid #ddd;  
    padding: 6px 12px;
}
.pagination__link.selected {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  .pagination__link.disabled {
    pointer-events: none;
    cursor: default;
  }